---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import type { CTALink } from "src/types/blocks";
import Button from "../elements/Button.astro";

type Discriminant = "page" | "url";
type PageLink = {
  link: string;
  label: string;
};
interface NavigationLink {
  discriminant: Discriminant;
  value: PageLink;
}

interface FooterCtaSchema {
  title: string;
  description: string;
  ctaLinks: CTALink[];
}

interface FooterCta {
  schema: FooterCtaSchema;
}

const navSettings: {
  footerCta: FooterCta;
  footerNavigationLinks: NavigationLink[];
} = await getEntry("site-settings", "navigation").then(
  (settings) => settings.data
);

const siteDetails = await getEntry("site-settings", "site-details").then(
  (settings) => settings.data
);

const { footerCta, footerNavigationLinks } = navSettings;

const { businessName, logo, socialMediaLinks } = siteDetails;

const date = new Date();

const year = date.getFullYear();
---

<footer class="px-5 py-16 lg:px-16 lg:py-20 content-container">
  {
    footerCta ? (
      <div class="max-w-3xl">
        <h3 class="mb-6 h1">{footerCta.schema.title}</h3>
        <p>{footerCta.schema.description}</p>
      </div>
    ) : null
  }
  {
    footerCta ? (
      <div class="flex gap-4">
        {footerCta.schema.ctaLinks.map((link, index: number) => (
          <Button
            buttonType="link"
            href={link.value.link === "home" ? "/" : link.value.link}
            variant={index === 0 ? "primary" : "outline"}
            target={link.discriminant === "external" ? "_blank" : "_self"}
          >
            {link.value.linkText}
          </Button>
        ))}
      </div>
    ) : null
  }
  <Image
    src={`/images/logo/${logo}`}
    height={40}
    width={132}
    alt="Logo for lsl"
  />
  <ul>
    {
      footerNavigationLinks.map((navLink: NavigationLink) => {
        const { label, link } = navLink.value;
        return (
          <li>
            <a href={link === "home" ? "/" : link}>{label}</a>
          </li>
        );
      })
    }
  </ul>
  <p>
    &copy; {year}
    {businessName} All Rights Reserved.
  </p>
</footer>
