---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import type { CTALink } from "src/types/blocks";
import Button from "../elements/Button.astro";
import { Icon } from "astro-icon/components";

type Discriminant = "page" | "url";
type PageLink = {
  link: string;
  label: string;
};
interface NavigationLink {
  discriminant: Discriminant;
  value: PageLink;
}

interface FooterCtaSchema {
  title: string;
  description: string;
  ctaLinks: CTALink[];
}

interface FooterCta {
  schema: FooterCtaSchema;
}

interface SocialMediaLink {
  value: {
    icon: string;
    link: string;
  };
}

const navSettings: {
  footerCta: FooterCta;
  footerNavigationLinks: NavigationLink[];
} = await getEntry("site-settings", "navigation").then(
  (settings) => settings.data,
);

const siteDetails = await getEntry("site-settings", "site-details").then(
  (settings) => settings.data,
);

const { footerCta, footerNavigationLinks } = navSettings;

const { businessName, logo, socialMediaLinks } = siteDetails;

const date = new Date();

const year = date.getFullYear();
---

<footer class="content-container px-5 py-16 lg:px-16 lg:py-20">
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <div class="mb-20">
      {
        footerCta ? (
          <div class="animate fade-in max-w-3xl">
            <h3 class="h1 mb-6">{footerCta.schema.title}</h3>
            <p>{footerCta.schema.description}</p>
          </div>
        ) : null
      }
      {
        footerCta ? (
          <div class="mt-8 flex gap-4">
            {footerCta.schema.ctaLinks.map((link, index: number) => (
              <Button
                buttonType="link"
                href={link.value.link === "home" ? "/" : link.value.link}
                variant={index === 0 ? "primary" : "outline"}
                target={link.discriminant === "external" ? "_blank" : "_self"}
                rel={
                  link.discriminant === "external"
                    ? "noopener noreferrer"
                    : undefined
                }
                aria-label={
                  link.discriminant === "external"
                    ? `${link.value.linkText} (opens in new tab)`
                    : undefined
                }
              >
                {link.value.linkText}
              </Button>
            ))}
          </div>
        ) : null
      }
    </div>
    <nav>
      <ul
        class="flex h-max w-full max-w-44 auto-cols-auto grid-flow-col grid-rows-10 flex-col items-start lg:grid lg:grid-rows-5"
      >
        {
          footerNavigationLinks.map(
            (navLink: NavigationLink, index: number) => {
              const { label, link } = navLink.value;
              return (
                <li
                  class={`py-2 text-sm font-semibold ${index !== 0 && index % 5 == 0 ? "mt-10 lg:mt-0" : null}`}
                >
                  <a class="btn ghost nav" href={link === "home" ? "/" : link}>
                    {label}
                  </a>
                </li>
              );
            },
          )
        }
      </ul>
    </nav>
  </div>
  <div class="mt-12 lg:mt-0">
    <a href="/">
      <Image
        src={`/images/logo/${logo}`}
        height={40}
        width={132}
        alt={`logo for ${businessName}`}
      />
    </a>
  </div>
  <div
    class="mt-8 mb-20 flex flex-col-reverse justify-between border-t py-6 lg:flex-row lg:pt-8"
  >
    <p>
      &copy; {year}
      {businessName} All Rights Reserved.
    </p>
    {
      socialMediaLinks ? (
        <ul class="mb-4 flex gap-3">
          {socialMediaLinks.map((slink: SocialMediaLink) => {
            const { icon, link } = slink.value;
            return (
              <li>
                {/* tweak this til accessible button size on mobile */}
                <a
                  href={link}
                  target="_blank"
                  class="inline-block"
                  rel="noopener noreferrer"
                >
                  <Icon name={`mdi:${icon}`} class="text-2xl" />
                  <span class="sr-only">{link}</span>
                </a>
              </li>
            );
          })}
        </ul>
      ) : null
    }
  </div>
</footer>
