---
import { getCollection } from "astro:content";
import PageSection from "../objects/PageSection.astro";
import type { CTALink } from "src/types/blocks";
import Button from "../elements/Button.astro";

type faq = {
  id: string;
  collection: string;
  data: {
    question: string;
    answer: string;
  };
};

const { title, description, faqs, followUpTitle, followUpDescription, cta } =
  Astro.props.value;

const allFaqs = await getCollection("faqs");

const selectedFaqsSet = new Set(faqs);

// shows only faqs selected in block, shows all if none selected
const selectedFaqs = faqs.length
  ? allFaqs.filter((item) => selectedFaqsSet.has(item.id))
  : allFaqs;

const qaArray = selectedFaqs.map((faq: faq) => ({
  "@type": "Question",
  name: faq.data.question,
  acceptedAnswer: {
    "@type": "Answer",
    text: faq.data.answer,
  },
}));
const faqRichData = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: qaArray,
};
---

<PageSection class="Faqs content-container">
  <div class="mb-20 max-w-3xl">
    <h2 class="animate fade-in mb-6">
      {title}
    </h2>
    <p class="animate fade-in">{description}</p>
  </div>
  <ul>
    {
      selectedFaqs.map((singleFAQ: faq) => {
        const { question, answer } = singleFAQ.data;
        return (
          <li class="animate fade-in flex flex-wrap justify-between gap-16 border-t border-neutral-darkest pt-6 pb-12 lg:flex-nowrap">
            <h3 class="w-full text-medium font-bold">{question}</h3>
            <p class="w-full text-medium">{answer}</p>
          </li>
        );
      })
    }
  </ul>
  {
    followUpTitle || followUpDescription ? (
      <div class="animate fade-in mt-20 max-w-3xl">
        <h3 class="h4 mb-4">{followUpTitle}</h3>
        <p>{followUpDescription}</p>
      </div>
    ) : null
  }
  {
    cta ? (
      <div class="animate fade-in flex gap-4">
        {cta.map((link: CTALink, index: number) => (
          <Button
            buttonType="link"
            href={link.value.link === "home" ? "/" : link.value.link}
            variant={index === 0 ? "outline" : "ghost"}
            target={link.discriminant === "external" ? "_blank" : "_self"}
            class="mt-6"
          >
            {link.value.linkText}
          </Button>
        ))}
      </div>
    ) : null
  }

  <script type="application/ld+json" set:html={JSON.stringify(faqRichData)} />
</PageSection>
