---
import type { CTALink } from "../../types/blocks";
import Button from "../elements/Button.astro";

const { value } = Astro.props;

const { image, title, description, cta } = value;
---

<section class="Hero bg-white">
  <div class="container px-6 py-16 mx-auto text-center">
    <div class="max-w-lg mx-auto">
      <h1 class="text-tiny">
        {title}
      </h1>
      <p class="mt-6 text-gray-500">
        {description}
      </p>
      <div class="flex gap-4 items-center justify-center">
        {
          cta
            ? cta.map((link: CTALink) => (
                <Button
                  buttonType="link"
                  variant="primary"
                  href={link.value.link}
                >
                  {link.value.linkText}
                  {link.value.link}
                </Button>
              ))
            : null
        }
      </div>

      <p class="mt-3 text-large text-gray-400">No credit card required</p>
    </div>

    <div class="flex justify-center mt-10">
      <img class="object-cover w-full h-96 rounded-xl" src={image} />
    </div>
  </div>
</section>
