---
import type { CTALink } from "../../types/blocks";
import DynamicImage from "../elements/DynamicImage.astro";
import Button from "../elements/Button.astro";
import PageSection from "../objects/PageSection.astro";

const { value } = Astro.props;

const { image, title, description, cta } = value;
---

<PageSection class="hero content-container">
  <h1>{title}</h1>
  <div class="">
    <p>{description}</p>
  </div>
  <div class="">
    <p>{image}</p>
    {
      cta
        ? cta.map((link: CTALink, index: number) => (
            <Button
              buttonType="link"
              variant="primary"
              href={link.value.link}
              variant={index === 0 ? "primary" : "outline"}
            >
              {link.value.linkText}
              {link.value.link}
            </Button>
          ))
        : null
    }
  </div>
  <DynamicImage
    src={`${image}`}
    alt={""}
    class="hero-image"
    width={1312}
    height={738}
    isHero={true}
  />
</PageSection>
