---
import type { CTALink } from "../../types/blocks";
import DynamicImage from "../elements/DynamicImage.astro";
import Button from "../elements/Button.astro";
import PageSection from "../objects/PageSection.astro";

const { image, title, description, cta } = Astro.props.value;
---

<PageSection class="hero content-container">
  <div
    class="flex flex-col lg:flex-row lg:space-between gap-5 lg:gap-20 mb-12 lg:mb-20"
  >
    <h1>{title}</h1>
    <div>
      <p class="mb-6 lg:mb-8">{description}</p>
      {
        cta ? (
          <div class="flex gap-4">
            {cta.map((link: CTALink, index: number) => (
              <Button
                buttonType="link"
                href={link.value.link}
                variant={index === 0 ? "primary" : "outline"}
                target={link.discriminant === "external" ? "_blank" : "_self"}
              >
                {link.value.linkText}
              </Button>
            ))}
          </div>
        ) : null
      }
    </div>
  </div>
  <DynamicImage
    src={`${image}`}
    alt={""}
    class="hero-image"
    width={1312}
    height={738}
    isHero={true}
  />
</PageSection>
