---
import type { Review } from "src/types/blocks";
import { getCollection } from "astro:content";
import PageSection from "../objects/PageSection.astro";
import { Icon } from "astro-icon/components";
import StarMap from "../elements/StarMap.astro";
import Button from "../elements/Button.astro";
import DynamicImage from "../elements/DynamicImage.astro";

const { title, description, reviews } = Astro.props.value;
const allReviews = await getCollection("reviews");

const selectedReviewsSet = new Set(reviews);

const selectedReviews = reviews?.length
  ? allReviews.filter((item) => selectedReviewsSet.has(item.id))
  : allReviews;
---

<PageSection class="reviews content-container animate fade-in">
  <div class="section-title space-between mb-20 flex flex-col gap-6">
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
  <div class="flex flex-wrap gap-16">
    {
      selectedReviews.map((singleReview: Review, index: number) => {
        const { pullQuote, review, rating, platform, image, name, location } =
          singleReview.data;

        return (
          <article class="max-w-[624px] flex-1/3">
            <div class="mb-8 flex flex-col gap-2">
              <StarMap rating={rating} />
              <p class="h6">{pullQuote}</p>
            </div>
            <blockquote class="mb-8">
              <p>"{review}"</p>
            </blockquote>
            <div class="flex items-start gap-4">
              {image ? (
                <DynamicImage
                  src={image}
                  alt={`portrait of ${name}`}
                  height={56}
                  width={56}
                  class="rounded-full"
                />
              ) : (
                <Icon name="mdi:user-circle" size={56} />
              )}
              <div>
                <p class="font-semibold">{name}</p>
                <p>{location}</p>
              </div>
              {platform ? (
                <Button
                  buttonType="link"
                  href={platform}
                  variant="outline"
                  size="small"
                  target="_blank"
                  class="ml-auto"
                >
                  view
                </Button>
              ) : null}
            </div>
          </article>
        );
      })
    }
  </div>
</PageSection>
