---
import type { Review } from "src/types/blocks";
import { getCollection } from "astro:content";
import PageSection from "../objects/PageSection.astro";
import { Icon } from "astro-icon/components";
import StarMap from "../elements/StarMap.astro";
import Button from "../elements/Button.astro";
import DynamicImage from "../elements/DynamicImage.astro";

const { title, description, reviews } = Astro.props.value;
const allReviews = await getCollection("reviews");

const selectedReviewsSet = new Set(reviews);

const selectedReviews = reviews?.length
  ? allReviews.filter((item) => selectedReviewsSet.has(item.id))
  : allReviews;
---

<PageSection class="reviews content-container animate fade-in">
  <div class="section-title flex flex-col space-between gap-6 mb-20">
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
  <div class="flex flex-wrap gap-16">
    {
      selectedReviews.map((singleReview: Review, index: number) => {
        const { pullQuote, review, rating, platform, image, name, location } =
          singleReview.data;

        return (
          <article class="flex-1/3 max-w-[624px]">
            <div class="flex flex-col gap-2 mb-8 ">
              <StarMap rating={rating} />
              <p class="h6">{pullQuote}</p>
            </div>
            <blockquote class="mb-8">
              <p>"{review}"</p>
            </blockquote>
            <div class="flex gap-4 items-start">
              {image ? (
                <DynamicImage
                  src={image}
                  alt={`portrait of ${name}`}
                  height={56}
                  width={56}
                  class="rounded-full"
                />
              ) : (
                <Icon name="mdi:user-circle" size={56} />
              )}
              <div>
                <p class="font-semibold">{name}</p>
                <p>{location}</p>
              </div>
              <Button
                buttonType="link"
                href={platform}
                variant="outline"
                size="small"
                target="_blank"
                class="ml-auto"
              >
                view
              </Button>
            </div>
          </article>
        );
      })
    }
  </div>
</PageSection>
