---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

type ButtonVariant = "primary" | "secondary" | "outline" | "ghost";
type IconType = string | "icon-only";
interface LinkProps extends HTMLAttributes<"a"> {
  buttonType: "link";
}

type iconPosition = "leading" | "trailing";

interface ButtonProps extends HTMLAttributes<"button"> {
  buttonType: "button";
}

type Props = {
  variant: ButtonVariant;
  size?: "small" | "regular";
} & (LinkProps | ButtonProps);
const props: Props = Astro.props;

const bgColorMap = {
  primary: "bg-neutral-darkest",
  secondary: "bg-neutral-lightest",
  ghost: "bg-none",
  outline: "bg-none",
};

const textColorMap = {
  primary: "text-white",
  secondary: "text-neutral-darkest",
  ghost: "text-neutral-darkest",
  outline: "text-neutral-darkest",
};

const borderColorMap = {
  primary: "border-transparent",
  secondary: "border-transparent", //this will need to match primary color when set
  ghost: "border-transparent",
  outline: "border-neutral-darkest",
};

const buttonSizeMap = {
  small: "px-5 py-2",
  regular: "px-6 py-3",
};

const buttonClasses: string = `${props.class?.includes("block") ? "" : "inline-block"} ${props.size ? buttonSizeMap[props.size] : buttonSizeMap.regular} ${bgColorMap[props.variant]} ${textColorMap[props.variant]} border ${borderColorMap[props.variant]} `;
---

{
  props.buttonType === "link" ? (
    <a
      class:list={[buttonClasses, props.class]}
      href={props.href}
      target={props.target}
    >
      <slot />
      {props.variant === "ghost" ? (
        <Icon
          name="mdi:navigate-next"
          class={`inline-block ${props.size === "small" ? "ml-1" : "ml-2"}`}
        />
      ) : null}
    </a>
  ) : (
    <button class:list={[buttonClasses, props.class]} type={props.type}>
      <slot />
    </button>
  )
}

<style>
  .button {
    line-height: 1.4;
  }
</style>
