---
import type { HTMLAttributes } from "astro/types";
import type { HtmlHTMLAttributes } from "react";

type ButtonVariant = "primary" | "secondary" | "outline" | "ghost";
type IconType = string | "icon-only";
interface LinkProps extends HTMLAttributes<"a"> {
  buttonType: "link";
}

interface ButtonProps extends HTMLAttributes<"button"> {
  buttonType: "button";
}

type Props = {
  variant: ButtonVariant;
} & (LinkProps | ButtonProps);
const props: Props = Astro.props;

const bgColorMap = {
  primary: "bg-neutral-darkest",
  secondary: "bg-neutral-lightest",
  ghost: "bg-none",
  outline: "bg-none",
};

const textColorMap = {
  primary: "text-white",
  secondary: "text-neutral-darkest",
  ghost: "text-neutral-darkest",
  outline: "text-neutral-darkest",
};

const buttonClasses: string = `${bgColorMap[props.variant]} ${textColorMap[props.variant]} px-6 py-3`;
---

{
  props.buttonType === "link" ? (
    <a class:list={buttonClasses} href={props.href} target={props.target}>
      <slot />
    </a>
  ) : (
    <button class={buttonClasses}>
      <slot />
    </button>
  )
}
