---
import "../styles.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import { SkipLink } from "accessible-astro-components";

import Header from "../components/navigation/Header.astro";
import Footer from "../components/navigation/Footer.astro";

export interface Props {
  title: string;
  richData?: string | null;
  seoTracking?: string | null;
  ogImage?: string;
  pageDescription?: string;
}

const { title, richData, seoTracking, ogImage, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription ?? title} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <Font cssVariable="--font-roboto" preload />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription ?? title} />

    {ogImage ? <meta property="og:image" content={ogImage} /> : null}
    {seoTracking ? <Fragment set:html={seoTracking} /> : null}
    <ClientRouter />
    {richData ? <Fragment set:html={richData} /> : null}
    {seoTracking ? <Fragment set:html={seoTracking} /> : null}
  </head>
  <body>
    <SkipLink />
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <script is:inline>
      const setupAnimations = () => {
        if (!CSS.supports("animation-range", "entry")) {
          return;
        }

        const animationElements = document.querySelectorAll(".animate");
        animationElements.forEach((element) => {
          element.addEventListener("animationend", () => {
            element.classList.add("animated");
          });
        });
      };

      document.addEventListener("astro:page-load", setupAnimations);
    </script>
  </body>
</html>
