---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import { SkipLink } from "accessible-astro-components";

import Header from "../components/navigation/Header.astro";
import Footer from "../components/navigation/Footer.astro";
import "../styles.css";

export interface Props {
  title: string;
  richData?: string | null;
  seoTracking?: string | null;
  ogImage?: string;
}

const { title, richData, seoTracking, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <!-- todo deal with description same with OGdesc... -->
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <!-- TODO figure out what to do for content -->
    <meta property="og:description" content={""} />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <!-- TODO figure out what to do for content -->
    <meta property="og:description" content={""} />
    <meta property="og:image" content={ogImage} />
    <Font cssVariable="--font-roboto" preload />
    <ClientRouter />
  </head>

  <body>
    {richData ? <Fragment set:html={richData} /> : null}
    {seoTracking ? <Fragment set:html={seoTracking} /> : null}
    <SkipLink />
    <ClientRouter />
    {richData ? <Fragment set:html={richData} /> : null}
    {seoTracking ? <Fragment set:html={seoTracking} /> : null}

    <body>
      <SkipLink />
      <Header />
      <main id="main-content" transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </body>
  </body>
</html>
